  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
  }
  
  body{
  background-color: #24252a;
  font-family:'Montserrat';
  overflow-x: hidden;
  }
  .navbar {
    display: flex;
    position: fixed;
    z-index: 100;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: #24252a;
    position: fixed;
    width: 100%;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,.menuSum__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .menu{
    display:none;
    cursor: pointer;
  }

  .menu:hover{
    color:#0088a9;
  }

  .menuSum {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }

  .menuSumactive {
    width: 100%;
  }

  .menuSum__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menuSum a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .menuSum a:hover,
  .menuSum a:focus {
    color: #0088a9;
    transform: scale(1.1);
  }
  
 .container-1{
  width: 100%;
  min-height: 100vh;
  background: url("Background.jpeg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
 }
 .container-1 .overlay1{
  width: 100%;
  height:100%;
  backdrop-filter: brightness(40%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .container-1 .overlay2{
    width: 40%;
    height:100%;
    margin-inline:31%;
   background-color: #24252a;
 }

 .container-1 .overlay2 h1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  color:white;
 }

 .container-1 .overlay2 p{
   max-width: 60vw;
   font-size: 10px;
   color:rgb(255, 255, 255);
 }

 .container-1 .overlay2 form {
    display: flex;
    flex-direction: column;
  }
  
  .container-1 .overlay2 .inputBox,
  .container-1 .overlay2 .btn {
    margin-bottom: 5px;
    margin-top:4px;
    width:20%;
  }

  .inputBox input,
  .btn {
    background-color: #24252a;
    border: 1px solid white;
  }

 

 footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .footerDetails{
    text-align: center;
    width: 23%;
    margin-inline: 1%;
    margin-top: 1%;
    justify-content: center;
  }
  
  .SocialMedia{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .Social{
    text-align:center;
    width:23%;
    margin-top: 2%;
    justify-content: center;
  }
  
  .Social img{
     width:100%;
  }
  
  @media (max-width: 768px) {
    .eventdetails{
      width: 48%;
    }
    .details{
      width:48%;
    }
    .nav__links{
      display: none;
    }
    .menu {
      display: initial;
    }

    }

